@import "tailwindcss";

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: gurmukhi;
  src: url("/fonts/gurmukhi-mn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-hot-pink: #8B5CF6;
  --color-hot-red: #FA265C;
  --color-white-rose: #F7EEEE;
  --color-black-almost: #2A2323;

  --font-logo: "gurmukhi", sans-serif;
  --font-lato: 'Lato', sans-serif;
}

.bg-grainy {
  background-color: #2A2323; /* black-almost as fallback */
  background-image: url('/images/Grainy_texture.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 200px 200px;
}

/* Hide reCAPTCHA badge */
.grecaptcha-badge {
  z-index: -1000 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}